<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DXApplication1.Properties.Settings.QuanLyQuanCafeConnectionString"
            connectionString="Data Source=THANHTHU\SQLEXPRESS;Initial Catalog=DB_QLNH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DXApplication1.Properties.Settings>
            <setting name="MaNV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsKhoiDong" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkinName" serializeAs="String">
                <value />
            </setting>
        </DXApplication1.Properties.Settings>
    </userSettings>
</configuration>